/*
*1920px
*/
.about_content {
  margin-top: 9.57rem;
  margin-left: 19.85rem;
  margin-right: 19.85rem; }
  .about_content .content_img_div {
    width: 50%;
    float: left; }
    .about_content .content_img_div .content_image {
      width: 100%;
      height: 25.14rem;
      float: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .about_content .content_img_div .content_image.img_1 {
        background-image: url(../images/about.png); }
  .about_content .content_text_view {
    width: 50%;
    padding-left: 6.92rem;
    float: left; }
    .about_content .content_text_view .about_text_header {
      font-size: 69px;
      padding-bottom: 4.92rem; }
    .about_content .content_text_view .about_text_label {
      color: #4a4a4a;
      line-height: 20px; }

/*
*768px
*/
@media (max-width: 768px) {
  .about_content {
    margin-left: 2rem;
    margin-right: 2rem; }
    .about_content .content_img_div {
      width: 100%; }
      .about_content .content_img_div .content_image {
        height: 19.5rem; }
    .about_content .content_text_view {
      width: 100%;
      padding-top: 3rem;
      padding-left: 0;
      padding-right: 15rem; } }

/*
*414px
*/
@media (max-width: 414px) {
  .about_content .content_text_view {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 2rem; }
    .about_content .content_text_view .about_text_header {
      padding-bottom: 2rem; } }
