@import "cssRest";

.clearfix{
    clear: both;
}

.site_wrapper{
    .header{
        width: 100%;
        margin: 0 auto;
        float: left;
        .logoImage{
            width: 165px;
            height: 94px;
        }

        .menu{
            float: right;
            
        }
    }

    .content{
        width: 100%;
        margin: 0 auto;
        float: left;
        .contentImage1{
            width: 33.33333%;
            height: 352px;
            float: left;
            background: red;
        }
        .contentImage2{
            width: 33.33333%;
            height: 352px;
            float: left;
            background: yellow;
        }
        .contentImage3{
            width: 33.33333%;
            height: 352px;
            float: left;
            background: blue;
            
        }
    }

}