@import "cssRest";

.site_wrapper{
    .header{
        width: 100%;
        margin: 0 auto;
        float: left;
        .logoImage{
            width: 165px;
            height: 94px;
        }

        .menu{
            float: right;
            
        }
    }

    .clearfix{
        clear: both;
    }
}