@import "cssRest";

.clearfix{
    clear: both;
}

.site_wrapper{
    width: 100%;
    position: relative;
    .header{
        width: 100%;
        position: absolute;
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        .logo{
            float: left;
            .logoImage{
                margin: 79px auto auto 64px; 
                width: 165px;
                height: 94px;
            }
        }
        .menu{
            margin: 112px 129px auto auto;
            float: right;
        }
    }

    .content{
        position: absolute;
        top:382px;
        bottom: 0;
        left: 0;
        right: 0;

        .contentImage1{
            width: 33.33333%;
            height: 352px;
            float: left;
            background: red;
        }
        .contentImage2{
            width: 33.33333%;
            height: 352px;
            float: left;
            background: yellow;
        }
        .contentImage3{
            width: 33.33333%;
            height: 352px;
            float: left;
            background: blue;
            
        }
    }

    .footer{
        position: absolute;
        top: 800px;
        bottom: 0;
        left: 0;
        right: 0;
        
        .mark{
            margin: auto 44px 53px;
            float: left;
        }

        .icon{
            margin: auto 73.6px 65.4px auto;
            float: right;
            .iconImage{
                width: 79.4px;
                height: 61.7px;
            }
        }
    }

}