/*
*1920px
*/
.modal .modal-dialog .modal-content.customer {
  background-color: #9c2531;
  color: #fff;
  opacity: 0.9;
  border-radius: 1.8rem;
  padding-left: 4rem;
  padding-right: 4rem; }

.modal .modal-dialog .modal-content .modal-header.customer {
  border-bottom: 0;
  padding-bottom: 0.1rem; }

.modal .modal-dialog .modal-content .modal-header .modal-title.customer {
  padding-bottom: 0.1rem; }

.modal .modal-dialog .modal-content .modal-header .modal-title .title_cn {
  font-size: 16px; }

.modal .modal-dialog .modal-content .modal-header > h5 {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.modal .modal-dialog .modal-content .modal-body.customer {
  padding-bottom: 0; }

.modal .modal-dialog .modal-content .modal-body > form .customer > textarea {
  min-height: 234px; }

.modal .modal-dialog .modal-content .modal-footer.customer {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.modal .modal-dialog .modal-content .modal-footer .info_label .map_label > i {
  margin-bottom: 0; }

.modal .modal-dialog .modal-content .modal-footer > button {
  width: 8rem;
  border-radius: 1rem; }

/*
*768px
*/
/*
*414px
*/
