@charset "UTF-8";
@import url(/Users/lavatar/Desktop/project/璽藝廊_20190519/css/_cssRest.css);
.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

body {
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Pontano Sans', 'sans-serif', 'Microsoft Jhenghei', '微軟正黑體', 'Ping Feng', 'serif';
  -webkit-text-size-adjust: none;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: inherit;
  outline: none;
}

a:active {
  color: inherit;
  outline: none;
}

p {
  margin: 0 0 0.2rem;
}

div {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.site_wrapper {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c7c7c7));
  background: linear-gradient(#ffffff, #c7c7c7);
}

.site_wrapper .header {
  width: 100%;
  height: 382px;
  position: relative;
}

.site_wrapper .header .logoImage {
  position: absolute;
  top: 79px;
  left: 64px;
}

.site_wrapper .header .logoImage a {
  display: block;
  width: 165px;
  text-indent: -99999px;
  height: 94px;
  background: url(../images/logo.png);
}

.site_wrapper .header .menu {
  float: right;
  margin: 112px 129px auto auto;
}

.site_wrapper .header .menu li {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.site_wrapper .header .menu li a {
  color: #4a4a4a;
  text-decoration: none;
}

.site_wrapper .header .menu li a:visited {
  color: #000;
}

.site_wrapper .header .menu li a:hover {
  color: #5a5858;
}

.site_wrapper .content {
  width: 100%;
  height: 352px;
}

.site_wrapper .content .contentImage1 {
  width: 33.33333%;
  height: 352px;
  float: left;
  text-indent: -99999px;
  background-image: url(../images/contentImage1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site_wrapper .content .contentImage2 {
  width: 33.33333%;
  height: 352px;
  float: left;
  text-indent: -99999px;
  background-image: url(../images/contentImage2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site_wrapper .content .contentImage3 {
  width: 33.33333%;
  height: 352px;
  float: left;
  text-indent: -99999px;
  background-image: url(../images/contentImage3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .site_wrapper .header {
    height: 392px;
  }
  .site_wrapper .content {
    width: 100%;
    height: 273px;
  }
  .site_wrapper .content .contentImage1 {
    width: 50.0%;
    height: 273px;
    float: left;
    text-indent: -99999px;
    background-image: url(../images/contentImage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .site_wrapper .content .contentImage2 {
    display: none;
  }
  .site_wrapper .content .contentImage3 {
    width: 50.0%;
    height: 273px;
    float: left;
    text-indent: -99999px;
    background-image: url(../images/contentImage3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.site_wrapper .footer {
  width: 100%;
}

.site_wrapper .footer .mark {
  display: block;
  margin: 227px auto 44px 53px;
  float: left;
}

.site_wrapper .footer .mark p {
  font-size: 14px;
  font-weight: 300px;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.site_wrapper .footer .icon {
  margin: auto 73.6px 65.4px auto;
  float: right;
}

.site_wrapper .footer .icon a {
  margin: 163.9px 73.6px 65.4px auto;
  display: block;
  width: 80px;
  text-indent: -99999px;
  height: 80px;
  background: url(../images/icon.png);
}
/*# sourceMappingURL=style.css.map */