@import url(../css/_normalize.css);
@import url(../css/_cssResetCustom.css);
@import url(../css/_animate_min.css);
/* index.html*/
.wrap {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c7c7c7));
  background: -webkit-linear-gradient(#ffffff, #c7c7c7);
  background: -o-linear-gradient(#ffffff, #c7c7c7);
  background: linear-gradient(#ffffff, #c7c7c7);
  position: relative; }
  .wrap .header {
    width: 100%;
    padding-left: 4.85rem;
    padding-top: 5.71rem; }
    .wrap .header .logo {
      width: 45.55556%;
      float: left; }
      .wrap .header .logo .logo_image {
        width: 165px;
        height: 94px; }
    .wrap .header .menu_list {
      display: block;
      width: 15.34723%;
      padding-top: 2.28rem;
      float: right; }
      .wrap .header .menu_list .menu_list_custom_img {
        padding-top: 0.5rem; }
        .wrap .header .menu_list .menu_list_custom_img .fas {
          margin-left: 2rem; }
        .wrap .header .menu_list .menu_list_custom_img .img-style {
          float: left;
          font-size: 22px; }
      .wrap .header .menu_list .menu_list_li {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 1.2px;
        line-height: 2rem; }
        .wrap .header .menu_list .menu_list_li a {
          color: #4a4a4a; }
          .wrap .header .menu_list .menu_list_li a:visited {
            color: #000; }
          .wrap .header .menu_list .menu_list_li a:hover {
            color: #5a5858; }
  .wrap .content {
    width: 100%;
    margin: 9.6rem auto 0 auto;
    overflow: hidden; }
    .wrap .content .content_img_div .content_image {
      width: 100%;
      height: 352px;
      float: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .wrap .content .content_img_div .content_image.img_1 {
        background-image: url(../images/contentImage1.jpg); }
      .wrap .content .content_img_div .content_image.img_2 {
        background-image: url(../images/contentImage2.jpg); }
      .wrap .content .content_img_div .content_image.img_3 {
        background-image: url(../images/contentImage3.jpg); }
      .wrap .content .content_img_div .content_image.img_4 {
        background-image: url(../images/contentImage1.jpg); }
      .wrap .content .content_img_div .content_image.img_5 {
        background-image: url(../images/contentImage2.jpg); }
      .wrap .content .content_img_div .content_image.img_6 {
        background-image: url(../images/contentImage3.jpg); }
  .wrap .footer {
    padding-left: 3.78rem;
    padding-bottom: 3.1rem; }
    .wrap .footer .mark {
      width: auto;
      padding-top: 15.7rem; }
      .wrap .footer .mark .mark_label {
        font-size: 14px;
        font-weight: 300px;
        letter-spacing: 1px;
        color: #4a4a4a; }
  .wrap .icon {
    position: absolute;
    right: 5.26rem;
    bottom: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .wrap .icon .icon_menu {
      padding-top: 1.8rem;
      padding-bottom: 1rem; }
      .wrap .icon .icon_menu.js-none {
        display: none; }
      .wrap .icon .icon_menu .icon_menu_style {
        width: 40px;
        height: 40px;
        background: #9c2531;
        color: #D3D3D3;
        border-radius: 50rem;
        font-size: 20px;
        -ms-flex-line-pack: center;
        align-content: center;
        margin-top: 1rem;
        padding: 0.8rem; }
        .wrap .icon .icon_menu .icon_menu_style:hover {
          width: 100%;
          transition: width 1s;
          -moz-transition: width 1s;
          -webkit-transition: width 1s;
          -o-transition: width 1s; }
      .wrap .icon .icon_menu .icon_img_div .icon_img_img {
        width: 80px;
        height: 80px; }
  @media (max-width: 768px) {
    .wrap .header .menu_list {
      width: 30%;
      margin-top: 79px;
      margin-left: 20%; }
    .wrap .content .content_image {
      width: 50%;
      height: 273px; }
      .wrap .content .content_image.middle {
        display: none; }
    .wrap .footer .icon {
      width: 20%; }
      .wrap .footer .icon .icon_image {
        width: 70px;
        height: 70px; }
    .wrap .footer .mark {
      width: 60%; } }
  @media (max-width: 414px) {
    .wrap .header .logo {
      width: 37.5%;
      margin-top: 38px;
      margin-left: 12.5%; }
      .wrap .header .logo .logo_image {
        width: 80px;
        height: 65px; }
    .wrap .header .menu_list {
      width: 40.3125%;
      margin-top: 37px;
      margin-left: 9.6875%; }
    .wrap .content {
      margin-top: 37px; }
      .wrap .content .content_image {
        width: 100%;
        height: 273px; }
    .wrap .footer .icon {
      float: none;
      width: 100%; }
      .wrap .footer .icon .icon_image {
        float: none;
        display: block;
        margin: auto;
        width: 40px;
        height: 40px; }
    .wrap .footer .mark {
      float: none;
      width: 100%;
      padding-top: 10.9036%;
      padding-bottom: 13px; }
      .wrap .footer .mark .mark_label {
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center; } }

/* aboutPage */
.wrap .content .about_content {
  width: 30.69445%;
  margin-top: 1%;
  margin-left: 19.30555%;
  float: left; }
  .wrap .content .about_content .about_image {
    width: 100%;
    height: 352px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }

.wrap .content .about_textLabel {
  width: 42.26389%;
  padding-left: 6.73611%;
  padding-right: 1%;
  float: left; }
  .wrap .content .about_textLabel .about_header {
    font-size: 69px;
    padding-bottom: 69px; }
  .wrap .content .about_textLabel .about_substance {
    color: #4a4a4a;
    line-height: 20px; }

@media (max-width: 768px) {
  .wrap .header .logo {
    width: 37.5%;
    margin-top: 38px;
    margin-left: 12.5%; }
    .wrap .header .logo .logo_image {
      width: 80px;
      height: 65px; }
  .wrap .header .menu_list {
    width: 40.3125%;
    margin-top: 37px;
    margin-left: 9.6875%; }
  .wrap .content .about_content {
    margin-left: 5%;
    width: 95%;
    float: none; }
    .wrap .content .about_content .about_image {
      width: 80%;
      height: 80%; }
  .wrap .content .about_textLabel {
    float: none;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%; }
    .wrap .content .about_textLabel .about_header {
      font-size: 50px;
      padding-bottom: 50px; } }

@media (max-width: 414px) {
  .wrap .header .logo {
    width: 37.5%;
    margin-top: 38px;
    margin-left: 12.5%; }
    .wrap .header .logo .logo_image {
      width: 80px;
      height: 65px; }
  .wrap .header .menu_list {
    width: 40.3125%;
    margin-top: 37px;
    margin-left: 9.6875%; }
  .wrap .content .about_content {
    width: 100%;
    margin: 0 auto; }
    .wrap .content .about_content .about_image {
      width: 100%; } }
