@import "cssRest";


.clearfix {
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

body {
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', 'sans-serif', 'Microsoft Jhenghei', '微軟正黑體', 'Ping Feng', 'serif';
    -webkit-text-size-adjust: none;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
        color: inherit;
    }

    &:visited {
        text-decoration: none;
        color: inherit;
    }

    &:hover {
        text-decoration: none;
        color: inherit;
    }

    &:focus {
        color: inherit;
        outline: none;
    }

    &:active {
        color: inherit;
        outline: none;
    }
}

p {
    margin: 0 0 0.2rem;
}

div {
    box-sizing: border-box !important;
}


.site_wrapper {
    width: 100%;
    background: linear-gradient(#ffffff, #c7c7c7);

    .header {
        width: 100%;
        height: 382px;
        position: relative;

        .logoImage {
            position: absolute;
            top: 79px;
            left: 64px;

            a {
                display: block;
                width: 165px;
                text-indent: -99999px;
                height: 94px;
                background: url(../images/logo.png);
            }
        }

        .menu {
            float: right;
            margin: 112px 129px auto auto;

            li {
                font-size: 17px;
                font-weight: 600;
                letter-spacing: 1.2px;

                a {
                    color: #4a4a4a;
                    text-decoration: none;

                    &:visited {
                        color: #000;
                    }

                    &:hover {
                        color: #5a5858;
                    }
                }

            }

        }
    }

    .content {
        width: 100%;
        margin: 0 auto;

        .contentImage1 {
            width: 33.33333%;
            height: 352px;
            float: left;
            text-indent: -99999px;
            background-image: url(../images/contentImage1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .contentImage2 {
            width: 33.33333%;
            height: 352px;
            float: left;
            text-indent: -99999px;
            background-image: url(../images/contentImage2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .contentImage3 {
            width: 33.33333%;
            height: 352px;
            float: left;
            text-indent: -99999px;
            background-image: url(../images/contentImage3.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

        }
    }

    @media (max-width: 767px) {
        .header {
            width: 100%;
            height: 392px;
            position: relative;

            .logoImage {
                position: absolute;
                top: 79px;
                left: 64px;

                a {
                    display: block;
                    width: 165px;
                    text-indent: -99999px;
                    height: 94px;
                    background: url(../images/logo.png);
                }
            }

            .menu {
                display: none;

            }
        }

        .content {
            width: 100%;
            height: 273px;

            .contentImage1 {
                width: 50.0%;
                height: 273px;
                float: left;
                text-indent: -99999px;
                background-image: url(../images/contentImage1.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .contentImage2 {
                display: none;
            }

            .contentImage3 {
                width: 50.0%;
                height: 273px;
                float: left;
                text-indent: -99999px;
                background-image: url(../images/contentImage3.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    @media (max-width: 414px) {
        .header {
            width: 100%;
            height: 239px;
            position: relative;

            .logoImage {
                position: absolute;
                top: 38px;
                left: 42px;

                a {
                    display: block;
                    width: 165px;
                    text-indent: -99999px;
                    height: 94px;
                    background: url(../images/logo.png);
                }
            }

            .menu {
                display: block;
                float: right;
                margin: 37px 45px auto auto;

                li {
                    font-size: 17px;
                    font-weight: 600;
                    letter-spacing: 1.2px;

                    a {
                        color: #4a4a4a;
                        text-decoration: none;

                        &:visited {
                            color: #000;
                        }

                        &:hover {
                            color: #5a5858;
                        }
                    }
                }
            }
        }

        .content {
            width: 100%;
            height: 546px;

            .contentImage1 {
                width: 100%;
                height: 273px;
                float: left;
                text-indent: -99999px;
                background-image: url(../images/contentImage1.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .contentImage2 {
                display: none;
            }

            .contentImage3 {
                width: 100%;
                height: 273px;
                float: left;
                text-indent: -99999px;
                background-image: url(../images/contentImage3.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }


    .footer {
        width: 100%;

        .mark {
            display: block;
            margin: 227px auto 44px 53px;
            float: left;

            p {
                font-size: 14px;
                font-weight: 300px;
                letter-spacing: 1px;
                color: #4a4a4a;
            }

        }

        .icon {
            margin: auto 73.6px 65.4px auto;
            float: right;

            a {
                margin: 163.9px 73.6px 65.4px auto;
                display: block;
                width: 80px;
                text-indent: -99999px;
                height: 80px;
                background: url(../images/icon.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

    }

    @media (max-width: 414px) {
        .footer {
            width: 100%;
            height: 235.8px;
            margin: 0 auto;
            position: relative;

            .mark {
                margin: 206px auto 13px 17.49758%;
                position: absolute;
                
                p{
                font-size: 14px;
                font-weight: 300px;
                letter-spacing: 1px;
                color: #4a4a4a;
                }
                

            }

            .icon {
                width: 100%;
                margin: 0 auto;
                position: absolute;

                a {
                    margin: 139px 45% auto 45%;
                    display: block;
                    width: 42px;
                    text-indent: -99999px;
                    height: 42px;
                    background: url(../images/icon.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

        }


    }




}